.slider {
  position: relative;
  height: 190px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;

  /* border: solid black 1px; */
}

.showme {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}

.slider:hover .showme {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 850px) {
  .slider {
    height: 220px;
    width: 400px;
  }
}
