.App {
  justify-content: center;
}

button {
  color: #fff;
  background-color: #39566b;
  border-color: #39566b;

  /* width: 110px; */
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  margin: 5px;
}
button:hover,
button:focus,
button:active,
button.active,
.open > .dropdown-toggle.btn-search {
  color: #fff;
  background-color: #253a49;
  border-color: #253a49;
}